---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🛠️ RootCauseForge</h1>

			<p>
			Real-world troubleshooting cases for IT professionals. 
			Sharing practical solutions for infrastructure, networking, security, 
			and enterprise systems.
			</p>

			<p>
			RootCauseForge is a knowledge base focused on root cause analysis 
			and the resolution of technology incidents based on real-world experiences.
			</p>

			<h2>What will you find here?</h2>

			<ul>
				<li>🔍 Step-by-step troubleshooting guides.</li>
				<li>🌐 F5 BIG-IP Case Studies.</li>
				<li>📚 Useful technical documentation for day-to-day work. </li>
			</ul>

			<p>
				The purpose of this site is to share useful,
                practical, and applicable knowledge to help other IT professionals
                solve problems.
			</p>
		</main>
		<Footer />
	</body>
</html>